$white-color: #fefefe;
$primary-color: #425F5F;
// $primary-color-match: #849366;
$primary-color-match: #FFF;
$primary-color-natural: #0D2626;
$secondary-color: #4E2727;
// $secondary-color-match: #9E6E6E;
$secondary-color-match: #FFF;
$secondary-color-natural: #684646;
$btn-color-1: #4EE3DB;